## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [8]:
population = np.random.randint(1000000, 30000000, size=6)
data = {'country': ['A', 'B', 'C', 'D', 'E', 'F'],
        'population': population}
data_1 = pd.DataFrame(data)

In [9]:
data_1

  country  population
0       A    12381282
1       B     7580209
2       C     4760176
3       D     9495283
4       E    10650483
5       F    23065799

In [20]:
print(data_1[data_1.population == [max(data_1.population)]])

  country  population
5       F    23065799